.spinner {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--color-gray-200);
    border-top-color: var(--color-gray-600);
    animation: spin 0.6s linear infinite;
}

.sm {
    width: 16px;
    height: 16px;
    border-width: 2px;
}

.md {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.lg {
    width: 40px;
    height: 40px;
    border-width: 3px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}